$primary-color: #444;
$text-background-color: #353535;
$secondary-color: rgb(255, 255, 225);
$highlight-color: rgb(255, 230, 55);
$background-opacity: 0.4;

@mixin easeOut {
  transition: all 0.5s ease-out;
}
